.header {
  background-color: black;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 15px;
}

.header a {
  text-decoration: none;
  color: #9C9C9C;
  align-items: center;
}
/* Navigation box in the center */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B1B1B;
    padding: 25px 50px;
    border-radius: 8px;
    max-width: 1000px;
  width: 90%;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li {
  color: #a0a0a0;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
}

.nav-links li:hover {
  color: white;
}

/* Social icons on the right */
.social-icons {
  display: flex;
  align-items: center;
}
.social-icons a {
  color: #a0a0a0;
  font-size: 16px;
  margin-left: 15px;
  transition: color 0.2s;
}

.social-icons a:hover {
  color: white;
}
